// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***** HEADER *****/
.calendar-top {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.titles {
	text-align: center;
	h1, {
		vertical-align: middle;
		font-size: 5vmax;
	}
	a {		
		font-size: 1.1vmax;
	}
	h2 {
		font-size: 2vmax;
	}
}
.dates-main h2 {
	display: inline-block;
	display: -moz-inline-box;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
}
.title-city {
	p {		
		font-size: 1.5vmax;
		line-height: 1vmax;
	}
	a {		
		font-size: 0.8vmax;
	}
}
/***** CALENDARIO *****/
.calendar-main {
	height: 10vh;
}
table {
	margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
	td {
		width: 10vw;
		height: 12vh;
		border: 1px solid lightgray;
		text-align: right;
		vertical-align: bottom;
	}
	h3, p {
		margin-right: 0.5vw;
		margin-bottom: 0.5vh;
		text-transform: uppercase;
	}
	h3 {
		font-size: 1em;
	}
	p {
		font-size: 2em;
	}
}
.day-calendar {
	background-color: darkslategrey;
	border: 1px solid white;
	color: white;
}
.calendar-today {
	background-color: lightgray;
	color: black;
}
.calendar-holiday {
	background-color: red;
	color: white;
}
.calendar-table {
	color: darkslategrey;
}
.calendar-div {
	margin-left: 1em;
}
/***** LEGENDA *****/
.legenda-text {
	margin: 1vh 0;
	p {
		float: left;
	}
}
.leg {
	width: 2vw;
	float: left;
	margin-left: 1vw;
	margin-right: 0.2vw;
}
.lverm {
	background-color: red;
}
.lcinza {
	background-color: lightgray;
}
/***** LATERAL *****/
.sidebar-main {
	background-color: darkslategrey;
	color: white;
	min-height: 100vh;
	height: 100%;
}
.holidays-div {
	padding: 0 1vmin;
}
.year {
	padding: 1vmin;
	line-height: 6vmin;
	display: inline;
	a {
		text-decoration: none;
		border: 2px solid whitesmoke;
		border-radius: 2px;
		padding: 1vmin;
		background-color: gray;
		color: white;
	}
	a:hover {
		background-color: coral;
	}
}
.review {
	padding: 0 1vmin;
}
.active a {
	background-color: lightgray;
	color: darkslategrey;
}
/***** PAGINA ESCOLHA CIDADE *****/
.choice-page {
	min-height: 100vh;
	min-width: 100vw;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
	color: black;
	h1 {
		padding-top: 1em;
		margin: 0;
		text-align: center;
		font-size: 3vmax;
	}
	p {
		font-size: 2vmax;
	}
}
.choice-form {
	width: 20vw;
	margin: auto;
}
.choice-form input[type="submit"]{
	text-align: center;
}

