// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar-main {
	background-color: cyan;
}
/*.top {
	padding-top: 1.5em;
}*/
.titles {
	text-align: center;
	padding-top: 1.5em;
}
.dates-main h2 {
	display: inline;
	margin: 0 1em;
}
.city-info {
	position: absolute;
	top: 1em;
	right: 1em;
}
.calendar-div {
	margin: 2vw;
}
table {
	margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
	td {
		width: 10vw;
		height: 12vh;
		border: 1px solid lightgray;
		text-align: right;
		vertical-align: bottom;
	}
	h3, p {
		margin-right: 0.5vw;
		margin-bottom: 0.5vh;
		text-transform: uppercase;
	}
	h3 {
		font-size: 1em;
	}
	p {
		font-size: 2em;
	}
}
.day-calendar {
	background-color: lightgray;
	border: 1px solid white;
}
.calendar-today {
	background-color: lightgray;
	color: black;
}
.calendar-holiday {
	background-color: red;
	color: white;
}
.legenda {
	margin: 1vh 0;
}
.legenda-text {
	float: left;
}
.legenda-verm {
	background-color: red;
	width: 2vw;
	float: left;
	margin-right: 1vw;
}
.legenda-cinza {
	background-color: lightgray;
	width: 2vw;
	float: left;
	margin-right: 1vw;
	margin-left: 1vw;
}