// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar-main {
	background-color: cyan;
}
/*.top {
	padding-top: 1.5em;
}*/
.titles {
	text-align: center;
	padding-top: 1.5em;
}
.dates-main h2 {
	display: inline;
	margin: 0 1em;
}
.city-info {
	position: absolute;
	top: 1em;
	right: 1em;
}